@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title text-white">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="text-white">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
