@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title text-white">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="text-white">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
