@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>On-Site Artifact Record Supplement</h1>
    <p class="lead">The OARS System allows archaeologists and excavators to chronicle their artifacts and features as they are discovered. Welcome!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Log an Artifact</h2>
        <p>
            Our detailed Artifact Logs will allow you to input and then track all of the artifacts found at a particular site. Click below to get started!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Become an Archaeologist</h2>
        <p>Input your credentials and begin to catalogue your finds here! Click below to register!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>See Sites</h2>
        <p>Click below to browse sites and see the artifacts found at each one. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Log a Site</h2>
        <p>Are you a site director? Do you want to share your site with the public? Click here to post your site!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>