@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron HomeText backgroundcolorscheme">
    <h1 class="HomeText IndyFont">On-Site Artifact Record Supplement</h1>
    <p class="lead HomeText IndyFontSubtitles">The OARS System allows archaeologists and excavators to chronicle their artifacts and features as they are discovered. Welcome!</p>    
</div>

<div class="row">
    <div class="col-md-3">
        <h2 class="text-white">Log an Artifact</h2>
        <p class="text-white">
            Our detailed Artifact Logs will allow you to input and then track all of the artifacts found at a particular site. Click below to get started!
        </p>
        <button type="button" class="btn buttonMenu">@Html.ActionLink("Log An Artifact!", "Index", "Artifact")</button>

    </div>
    <div class="col-md-3">
        <h2 class="text-white">Become an Archaeologist</h2>
        <p class="text-white">Input your credentials and begin to catalogue your finds here! Click below to get to work!</p>
        <button type="button" class="btn buttonMenu">
            @if (User.Identity.IsAuthenticated)
            {@Html.ActionLink("Check your finds!", "Index", "Artifact")}
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Register", "Account", "Register")
            }
        </button>
    </div>
    <div class="col-md-3">
        <h2 class="text-white">See Sites</h2>
        <p class="text-white">Click below to browse sites and see the artifacts found at each one. </p>
        <button type="button" class="btn buttonMenu">@Html.ActionLink("Explore Sites!", "Index", "Site")</button>
    </div>
    <div class="col-md-3">
        <h2 class="text-white">Log a Site</h2>
        <p class="text-white">Are you a site director? Do you want to share your site with the public? Click here to post your site!</p>
        <button type="button" class="btn buttonMenu">@Html.ActionLink("Register Your Site!", "Create", "Site")</button>
    </div>
</div>