@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron HomeText">
    <h1 class="HomeText">On-Site Artifact Record Supplement</h1>
    <p class="lead HomeText">The OARS System allows archaeologists and excavators to chronicle their artifacts and features as they are discovered. Welcome!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2 class="text-white">Log an Artifact</h2>
        <p class="text-white">
            Our detailed Artifact Logs will allow you to input and then track all of the artifacts found at a particular site. Click below to get started!
        </p class="text-white">
        <p class="text-white"><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p >
    </div>
    <div class="col-md-3">
        <h2 class="text-white">Become an Archaeologist</h2>
        <p class="text-white">Input your credentials and begin to catalogue your finds here! Click below to register!</p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 class="text-white">See Sites</h2>
        <p class="text-white">Click below to browse sites and see the artifacts found at each one. </p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2 class="text-white">Log a Site</h2>
        <p class="text-white">Are you a site director? Do you want to share your site with the public? Click here to post your site!</p>
        <p><a class="btn btn-default text-white" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>